<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="style.css" type='text/css' />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>KOMPAXON</title>
</head>
<body>
<div class="form-style-10">
    <h1>Your transaction does <i>NOT</i> Exist! <div>It was either discarded or was never sent </div></h1>
    <p th:text="'transactionId: ' + ${transaction.transactionId}" />
    <div class="button-section" align="center">
        <a href="/index">
            <input type="button" value="Home" />
        </a>
    </div>

</div>
</body>
</html>